main .portfolio {
    padding: 0 10%;
}

main .portfolio .image img {
    width: 50vw;
    height: 35vw;
    object-fit: cover;
    padding-top: 5vw;
}

main .portfolio .h3 {
    font-size: 3vw;
    text-align: center;
    padding-top: 5vw;
}

main .portfolio .h4 {
    font-size: 2vw;
    text-align: center;
    padding-top: 3vw;
}

main .portfolio .h4::before {
    content: '';
    border-left: 4px solid #fff;
    padding: 0 10px;
}


main .portfolio .h4::after {
    content: '';
    border-right: 4px solid #fff;
    padding: 0 10px;
}

main .portfolio .p {
    margin-top: 2vw;
    text-indent: 2vw;
}

main .portfolio .image {
    text-align: center;
}

main .portfolio .a {
    margin-top: 5vw;
    text-align: center;
}

main .portfolio .a a {
    background-color: #9e8b8e;
    border-radius: 5vw;
    font-size: 2vw;
    padding: 0 2vw;
    border: 0.2vw solid #fff;
    transition: 0.3s ease-in-out;
    letter-spacing: 0.5vw;
}

main .portfolio .a a:hover {
    background-color: #fff;
    color: #656158;
    padding: 0 5vw;
    letter-spacing: 1vw;
}

main .portfolio .content2 {
    padding-bottom: 5%;
}