@charset "UTF-8";

main div {
    border-left: 10px solid #06f;
    border-bottom: 1px solid rgb(212, 212, 212);
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

main div h2 {
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin-top: 50px;
}

main p {
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
}

main input {
    width: 60%;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    margin: 0 auto;
}

main textarea {
    width: 60%;
    height: 100px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin-left: 50px;
}

main form {
    border-style: solid;
    border-color: #f97;
    border-width: 2px;
    margin: 0 100px 0 100px;
    border-radius: 30px;
}

main form div,
main form div div {
    margin: 10% 20%;
    border: none;
    text-align: center;
}

main {
    text-decoration: none;
}

main form div p {
    text-align: left;
}

main .sousin {
    width: auto;
    height: 30px;
    background-color: #f97;
    border-radius: 20px;
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;

}

main span {
    color: red;
}